.list-group-item {
  border-radius: 0;
  border-bottom-width: 1px !important;
  border-width: 0;
}

.main-content-view-leads {
  padding: 8%;
  padding-top: 0;
  padding-bottom: 0;
}

.event-list {
  align-items: center;
}

.event-date {
  color: var(--gray-two);
  font-size: 12px;
}
