.star-rating-button {
  background: transparent !important;
  border: none;
  font-size: 25px !important;
  display: flex;
  flex-direction: row;

  padding: 0;
  padding-right: 5px;
}

.star-rating-container .star-rating-button:hover {
  color: var(--yellow) !important;
}

.star-rating-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.star-rating-container-text {
  margin-top: 2.5px;
  color: var(--black);
  font-weight: 300;
  margin-left: 5px;
}
