.menu-bar-item {
  font-size: medium;
}

.menu-bar {
  height: 60px;
}

.menu-bar-item > .nav-link,
.menu-data-items {
  color: var(--white) !important;
  z-index: 99999 !important;
}
.menu-bar-main {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 1000;
}
.menu-bar-profile {
  padding: 10px;
  padding-right: 25px;
}

.menu-bar-container {
  position: fixed;
  height: 60px;
  left: 0;
  right: 0;
  z-index: 999;
}

.menu-bar-variant {
  height: 40px !important;
  padding: 0;
  border-bottom: 1px double;
  border-bottom-color: var(--gray);
}

.menu-bar-switch {
  display: flex;
  flex-direction: row;
  align-items: center;

  /* margin-top: 10px; */
}

.main-nav-bar {
  display: flex;
}

.nav-item {
  margin-right: 10px;
}
.menu-bar-switch > svg {
  margin-right: 10px;
}

.image-logo {
  margin-right: 15px;
}
